

     <div class="hr1">
            <hr>
        </div>
    <div class="grid">
       
        
        <div class="grid__row">
            <div class="grid__colum">
                <h3 class="footer_head"> Chăm sóc khách hàng </h3>
                <ul class="footer_list">
                    <li class="footer-item">
                        <a href="" class="footer-item-link"> Trung Tâm Trợ Giúp </a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item-link"> Hướng dẫn mua hàng </a>
                    </li>
                </ul>                
            </div>

            <div class="grid__colum">
                <h3 class="footer_head"> Địa Chỉ </h3>
                <li> 142-146 PHẠM PHÚ THỨ, Phường 4, Quận 6, TP HCM </li>
            </div>

            <div class="grid__colum">
                <h3 class="footer_head"> Liên Hệ </h3>
                <li>Hotline : 19002126 ( cước phí: 3000đ/phút )</li>
                <li>Phone : 028.7300.2266</li>
            </div>

            <div class="grid__colum">
                <h3 class="footer_head"> Theo Dõi Chúng tôi  </h3>
                <ul class="footer_list">
                    <li class="footer-item">
                        <a href="https://www.facebook.com/" class="footer-item-link"> 
                            <i class="fab fa-facebook"></i>
                            Facebook 
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="https://www.Instagram.com/" class="footer-item-link"> 
                            <i class="fab fa-instagram"></i>
                            Instagram 
                        </a>
                    </li>

                    <li class="footer-item">
                        <a href="https://www.inkedin.com" target="blank" class="footer-item-link"> 
                            <i class="fab fa-linkedin"></i>
                            LinkedIn 
                        </a>
                    </li>
                </ul>    
            </div>
        </div>

    </div>
    <style>
        .grid {
            background-color: rgb(243, 243, 243);
            display: grid;
            margin: 0 auto;
            width: 90%;
            max-width: 100%;
            border-radius: 5px;
           
            
        }
        .grid__colum ul li a {   /* tắt gạch chânchữ dẫn link */ 
            text-decoration: none;
            color: black;
        }

        .grid__colum, h3{
            font-size: 1rem;
        }
        
        .grid__row{
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            margin-left: -5px ;
            margin-right: -5px;
        }
        .grid__colum{
            
            text-align: left;
            padding-left:10px;
            padding-right:10px;
            width: 25%;
        }
         .footer{
            margin-top: 20px;
        }
        
        .hr1 hr{
            margin-top:50px;
            height:2px;
            width:100%;
            float:left;
        }
    </style>
